#bloc_page
{
	width: 950px;
	margin: auto;
}

body
{
	font-family: 'Trebuchet MS', Arial, sans-serif;
}

/* En-tête */
header
{
	height: 162px;
	background-color: grey;
	display: flex;
	border-radius: 5px;
}

#banniere
{
	display: flex;
	width: 950px;
}

.photo
{
	display: flex;
	margin-left: 17px;
	border: 1px solid #ffffff;
	border-radius: 5px;
	box-shadow: 2px 2px 5px #ffffff;
}

#banniere h1
{
	display: flex;
	font-size: 3em;
	color: #ffffff;
	margin: auto;
}

/* Corps du CV / Partie blanche */
section
{
	display: flex;
	text-align: justify;
}

article
{
	width: 600px;
}

article h2
{
	background-color: #00A2E8;
	width: 50%;
	border-radius: 5px;
	padding-left: 10px;
	color: white;
}

article h3, article p
{
	padding-left: 10px;
	padding-right: 10px;
}

/* Infos persos / Partie bleue */
aside
{
	width: 350px;
	color: white;
	background-color: #00A2E8;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 40px;
	padding-bottom: 40px;
	border-radius: 5px;
}

aside h2
{
	text-decoration: underline;
	text-align: center;
}

#icones p
{
	text-align: center;
}

#icones p
{
	height: 40px;
}

#icones img
{
	vertical-align: middle;
}

.floating_left
{
	float: left;
	padding-left: 15px;
	vertical-align: middle;
}

#icones a
{
	text-decoration: none;
	color: white;
}

#icones a:hover
{
	text-decoration: underline;
}

#network {
	margin-top: 30px;
	margin-bottom: 30px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding-left: 50px;
	padding-right: 50px;
}

#network img  {
	width: 120%;
}

#network img:hover  {
	opacity: 0.8;
	-webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

#softSkills {
	margin-top: 30px;
	text-align: center;
	font-size: 1.2em;
	margin-bottom: 40px;
}

/* Compétences / Partie bleue */
aside h2
{
	clear: both;
	margin-bottom: 40px;
	margin-top: 40px;
}

#competences
{
	font-size: 20px;
	padding-left: 30px;
}

span {
	float: right;
	padding-right: 30px;
	font-size: 0.8em;
}

#loisirs {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

#loisirs img {
	padding: 15px;
	border: 2px solid white;
	border-radius: 50%;
	width: 3em;
}

/* Résolution mobile */
@media all and (max-device-width: 480px)
{
	#bloc_page
	{
		width: 100%;
	}

	#banniere
	{
		width:100%;
	}

	#banniere h1
	{
		font-size: 1.5em;
		padding-left: 15px;
	}

	section
	{
		flex-direction: column;
	}

	article
	{
		width: 100%;
	}

	article h2
	{
		width: auto;
	}

	aside
	{
		width: auto;
	}

	#competences p
	{
		font-size: 0.8em;
	}

	#competences
	{
		margin-bottom: 35px;
	}

	#icones p:nth-child(4)
	{
		font-size: 0.9em;
	}
}